
body{

    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;

    img{
        // RWD 防止圖片破版
        max-width: 100%;
        height: auto;
    }

    a{
        text-decoration: none;
        display: block;
        color: #707070;
    }

}
