.placeholderTextSecondary{
    &::placeholder {
        color: #907A7B;
    }
}

.largeInputGroup{
    &__input{
        width: 270px;
        padding: 8px 16px 8px 16px;
        border: none;
        display: block;
        border-radius: 4px 0 0 4px;

        &::placeholder {
            color: #907A7B;
        }
    }

    &__btn{
        padding: 8px 16px 8px 16px;
        border: none;
        display: block;
        border-radius: 0 4px 4px 0;
    }
}

.primary-form-style{
    border: 1px solid #C0A4A5;
    border-radius: 4px;

    &::placeholder {
    color: #C0A4A5;
    }
}