// .swiper{
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     overflow-x: scroll;
//   }

//   .swiper-wrapper{
    
//   }

//   .swiper-slide {
//     width: 100%;
//     img{
//         width: 100%;
//         height: 400px;
//         object-fit: cover;
//     }
//   }

// 課程的swiper
.courseSwiper {
    width: 100%;
    height: auto;
    overflow: hidden;
    // overflow-x: scroll;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
  
      img{
          border-radius: 16px;
          object-fit: cover;
      }
    }
  }
  
  // 聽聽他們怎麼說 swiper
  .feedbackSwiper {
    width: 100%;
    overflow: hidden;
  }

  // 課程推薦 swiper

  .recommendSwiper{
    width: 100%; 
    overflow: hidden;
  }

  .recommendSwiperImg{
    width: 100%;
    height: 260px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // 師資介紹swiper
  .teacherSwiper{
    width: 100%; 
    overflow: hidden;
  }